body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.colorNav {
    background-color: #3e246c!important;
}

.colorBtn {
    color: #3e246c!important;
}

.colorbtnOrdenes {
    background-color: #2e1b50 !important;
    color: #fff;
    border-color: #2e1b50;
}

.letra {
    font-family: 'Secular One', sans-serif;
}

.letraTitulo {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}